<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('formaction')}}" method="post">
        
        <input type="hidden" name="senderid" value="{{uid}}">
        <label for="">receivername</label>
        <input type="text" name="receivername">
        <br><br>
        <label for="">subject</label>
        <input type="text" name="subject">
        <br><br>
        <label for="">message</label>
        <input type="text" name="message">
        <br><br>
        <input type="submit" value="send">
    </form>
</body>
</html>