<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('trash')}}" method="post">
    <table border=2>
        <tr>
            <th>username</th>
            <th>subject</th>
            <th>message</th>
            <th>date</th>
            <th>time</th>
        </tr>
        {% for i in a %}
        <tr>
            <td>{{i.username}}</td>
            <td>{{i.subject}}</td>
            <td>{{i.message}}</td>
            <td>{{i.date}}</td>
            <td>{{i.time}}</td>
            <th><input type="checkbox" name="checkbox" value="{{i.id}}"></th>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <input type="submit" value="move to trash">
            </td>
        </tr>
    </table>
</form>
<a href="{{url_for('trashview')}}">view trash</a>

</body>
</html>