<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{{url_for('logout')}}">logout</a>
    <br><br>
    <a href="{{url_for('update')}}">update your details</a>
    <br><br>
    <a href="{{url_for('form')}}">send mail</a>
    <br><br>
    <a href="{{url_for('view')}}">view message</a>
    <br><br>
    <a href="{{url_for('receivermsg')}}">inbox message</a>
    <br><br>
    

</body>
</html>