<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in a %}
    <form action="{{url_for('updateaction')}}" method="post">
        <input type="hidden" name="id" value="{{i.id}}">
        <label for="">name</label>
        <input type="text" name="name" value="{{i.name}}">
        <br><br>
        <label for="">age</label>
        <input type="number" name="age" value="{{i.age}}">
        <br><br>
        <label for="">address</label>
        <textarea name="address" id="" value="{{i.address}}">{{i.address}}</textarea>
        <br><br>
        gender <label for="male">male</label>
        <input type="radio" id="male" name="gender" value="male" value="{{i.male}}">
        <label for="female">female</label>
        <input type="radio" id="female" name="gender" value="female" value="{{i.female}}">
        <label for="other">other</label>
        <input type="radio" id="other" name="gender" value="other" value="{{i.other}}">
        <br><br>
        <label for="">country</label>
        <input type="text" name="country" value="{{i.country}}">
        <br><br>
        <label for="">username</label>
        <input type="text" name="username" id="username" value="{{i.username}}">
        <br><br>
        <label for="">password</label>
        <input type="password" name="password" value="{{i.password}}">
        <br><br>
        <input type="submit" value="update">
    </form>
{% endfor %}
</body>
</html>